{% use "bootstrap_3_layout.html.twig" %}

{%- block form_start -%}
    {%- do form.setMethodRendered() -%}
    {% set method = method|upper %}
    {%- if method in ["GET", "POST"] -%}
        {% set form_method = method %}
    {%- else -%}
        {% set form_method = "POST" %}
    {%- endif -%}
    <form name="{{ name }}" method="{{ method|lower }}" ng-submit="processForm($event, '{{ method }}', '{{ action }}')"{% if action != '' %} action="{{ action }}"{% endif %}{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}{% if multipart %} enctype="multipart/form-data"{% endif %}>
    {%- if form_method != method -%}
        <input type="hidden" name="_method" value="{{ method }}" />
    {%- endif -%}
{%- endblock form_start -%}

{%- block submit_widget -%}
    {{ parent() }}
    <a class="btn btn-default" role="button" ng-click="cancelForm()">Annuler</a>
{%- endblock submit_widget -%}
