{% extends "GSApiBundle::layout.html.twig" %}

{% block gs_body %}
    {{ parent() }}

    <h2>{{ registration.topic.activity.title }}</h2>

    <h3>{{ registration.topic.title }}<br>
        {{ registration.account.displayName }}</h3>

    <p>
        <a href="{{ path('view_topic', {'id': registration.topic.id}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour au topic
        </a>
        <a href="{{ path('edit_registration', {'id': registration.id}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-edit"></i>
            Modifier l'inscription
        </a>
        <a href="{{ path('delete_registration', {'id': registration.id}) }}" class="btn btn-danger">
            <i class="glyphicon glyphicon-trash"></i>
            Supprimer l'inscription
        </a>
    </p>
    <p>
        {% if is_granted("edit", registration) %}
            {% if registration.state == 'SUBMITTED' or registration.state == 'WAITING' %}
                <a href="{{ path('validate_registration', {'id': registration.id}) }}" class="btn btn-default">
                    <i class="glyphicon glyphicon-check"></i>
                    Valider
                </a>
            {% endif %}
            {% if registration.state == 'SUBMITTED' %}
                <a href="{{ path('wait_registration', {'id': registration.id}) }}" class="btn btn-default">
                    <i class="glyphicon glyphicon-list"></i>
                    Mettre en list d'attente
                </a>
            {% endif %}
            {% if registration.state != 'CANCELLED' %}
                <a href="{{ path('cancel_registration', {'id': registration.id}) }}" class="btn btn-default">
                    <i class="glyphicon glyphicon-remove"></i>
                    Annuler
                </a>
            {% endif %}
        {% endif %}
    </p>

    <h4>Status : {{ registration.state }}</h4>

    {% if registration.topic.type == 'couple' %}
        <h4>Role : {{ registration.role }}</h4>
        {% if registration.withPartner %}
            Partenaire :
            {% if registration.partnerRegistration %}
                {{ registration.partnerRegistration.account.displayName }}
            {% else %}
                {{ registration.partnerFirstName }}
                {{ registration.partnerLastName }}
                ({{- registration.partnerEmail -}})
            {% endif %}
        {% endif %}
    {% endif %}

{% endblock %}
