{% extends "GSApiBundle::layout.html.twig" %}

{#{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
{% endblock %}#}

{% block gs_body %}
    {{ parent() }}

    <h2>Ajouter un topic</h2>

    {{ include("GSApiBundle:Topic:form.html.twig") }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts filter='?jsqueeze'
        '@GSApiBundle/Resources/public/js/*'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $('.my-selector').collection();
    </script>

{#    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>

    <script>
        jQuery(document).ready(function() {
            $('.js-datepicker').datepicker();
            $('.js-timepicker').timepicker({
                timeFormat: 'h:mm p',
                interval: 30,
                minTime: '6pm',
                maxTime: '11:00pm',
                defaultTime: '7pm',
                startTime: '6pm',
                dynamic: false,
                dropdown: true,
                scrollbar: true
            });
        });
    </script>#}
{% endblock %}
